body {
    background-color:#dab2db ; /* Light Purple Background */
    text-align: center;
    font-family: Arial, sans-serif;
}
/* Heading Part */
.heading {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ff4b5c; /* Vibrant Solid Color */
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}

.heading::after {
    content: "";
    width: 100%;
    height: 6px;
    background: linear-gradient(90deg, #ff758c, #ff7eb3);
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 3px;
}

/* Button Updations */

.button-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.sort-button {
    background: linear-gradient(135deg, #ff9a9e, #fad0c4); /* Gradient Effect */
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    padding: 12px 20px;
    border-radius: 10px; /* Rounded Corners */
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2); /* 3D Shadow */
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.sort-button:hover {
    transform: scale(1.1); /* Slight Zoom on Hover */
    background: linear-gradient(135deg, #ff758c, #ff7eb3);
}


/* Control for Speed and Size of array  */

.controls {
    margin-top: 20px;
    text-align: center;
}

.controls label {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
}

.controls input[type="range"] {
    width: 200px;
    margin: 10px;
    cursor: pointer;
}

.controls span {
    font-size: 18px;
    font-weight: bold;
    color: #ff4b5c;
}


/* Bars Container  */

#bars-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 300px;
    margin-top: 40px;
}
/* Time/comparison/Time Complexity */
.sBox{
    border:1px solid black;
    margin:auto;
    padding: 5px;
    border-radius: 2px;
}
.Sfeature{
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ff4b5c;
    /* text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2); */
}

/* Theme Light and Dark Mode */

.theme-toggle {
    position: absolute;
    top: 20px;
    right: 30px;
    display: flex;
    align-items: center;
    gap: 8px;
    z-index: 1000;
}

.theme-toggle label {
    font-size: 16px;
    font-weight: bold;
    color: #ff4b5c;
}

#theme {
    font-size: 14px;
    padding: 4px 10px;
    border-radius: 5px;
    border: 2px solid #ff4b5c;
    cursor: pointer;
}

